
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
  
    <title>My ToDo</title> -->


    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" >




    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Hi <%= name%></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   
  </button>
  <h1 class=" w-100 " style="text-align:center;font-weight: bolder; color: white;">ToDo </h1>
<input type="text" name="search" id="search" placeholder="search">
<input type="button" value="search" class="mr-5">
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/addtask">
              ADD NEW TASK<span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              UPDATE ACCOUNT
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              DELETE ACCOUNT
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              LOGOUT
            </a>
          </li>
        </ul>

       
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
   
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link active" href="#">Link</a>
    </li>
    
  </ul>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
  localStorage.setItem('token','<%= token%>');
</script>
</body>
</html> 
